<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <title>Créer une Équipe</title>
</head>
<body>
    <header>
        <h1>Créer une Équipe</h1>
    </header>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Créer</button>
    </form>
    
    <a href="{% url 'admin_dashboard' %}">Retour au tableau de bord</a>
</body>
</html>
